.back-button:active {
    -unity-background-image-tint-color: rgb(176, 176, 176);
}

.back-button:hover {
    scale: 1.1 1.1;
    transition-duration: 0.25s;
}

.back-button-icon {
    top: 12.5%;
    right: 12.5%;
    width: 75%;
    height: 75%;
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
}

.back-button:focus {
    transition-duration: 0.25s;
    scale: 1.5 1.5;
}
