.game-hud-ability__button {
    align-items: stretch;
    width: 50%;
    height: 75%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    -unity-text-align: middle-center;
}
