.game-hud-ability__button {
    align-items: stretch;
    width: 50%;
    height: 75%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Feature-GameScenes/Font/Zu%20Kabarett%20SDF.asset?fileID=11400000&guid=e9de8c58e56760149bd815da1b9ab257&type=2#Zu Kabarett SDF");
}
